body{
    background: linear-gradient(rgba(238, 156, 167,0.3),rgba(255, 179, 187,0.3),rgba(255, 221, 225,0.3));   
}
#carouselExampleFade img[src$=".jpg"] {
    height: 30rem;
}

.black {
    background-color: black;
}
